@import url(http://fonts.googleapis.com/css?family=Exo:600,900);

body { 
  font-family: 'Exo', sans-serif;
  font-weight: 900;
  background-image: url(/img/backgroundtexture.png);
  text-align: center;
}

#game-board {
  width: 300px;
  height: 300px;
  margin: 40px auto;
}

.cell {
  width:  100px;
  height: 100px;
  float: left;
  border: 3px dashed #ccc;
  display: table;
  margin: 0;
}

#game-board .piece {
  font-size: 500%;
  display: table-cell;
  vertical-align: middle;
  text-transform: uppercase;
  width: 100%;
}

#splash-game-board {
  width: 240px;
  height: 240px;
  margin: 30px auto;
}

#splash-game-board .cell {
  width:  80px;
  height: 80px;
  float: left;
  border: 2px dashed #ccc;
  display: table;
  margin: 0;
}

#splash-game-board .piece {
  font-size: 450%;
  display: table-cell;
  vertical-align: middle;
  text-transform: uppercase;
  width: 100%;
}

.top { border-top: 0; border-bottom: 0; }
.bottom { border-bottom: 0; border-top: 0;}
.left { border-left: 0; border-right: 0;}
.right { border-right: 0; }
.center { border-right: 0; }

#splash-game-board .top { border-top: 0; border-bottom: 0; }
#splash-game-board .bottom { border-bottom: 0; border-top: 0;}
#splash-game-board .left { border-left: 0; border-right: 0;}
#splash-game-board .right { border-right: 0; }
#splash-game-board .center { border-right: 0; }

.x { color: hsla(355, 63%, 56%, 0.9); }
.o { color: hsla(176, 55%, 56%, 0.9); }

.fade.x { color: hsla(355, 63%, 56%, 0.2); }
.fade.o { color: hsla(176, 55%, 56%, 0.2); }

.teal, #win-message.o { 
  color: hsla(176, 55%, 56%, 0.9); 
  text-shadow: 0px 2px 0px hsla(176, 55%, 45%, 0.9);
}
.red, #win-message.x { 
  color: hsla(355, 63%, 56%, 0.9); 
  text-shadow: 0px 2px 0px hsla(355, 63%, 45%, 0.9);
}

header {
  text-transform: uppercase;
  font-size: 120%;
}

footer {
  width: 100%;
}

footer h1 {
  font-size: 240%;
}

footer h1.x {
  text-shadow: 0px -1px 0px hsla(355, 63%, 30%, 0.6),
               1px 1px 0px hsla(355, 63%, 90%, 0.9);
}

footer h1.o {
  text-shadow: 0px -1px 0px hsla(176, 55%, 30%, 0.6),
               1px 1px 0px hsla(176, 55%, 90%, 0.9);
}

button {
  font-size: 130%;
  font-weight: 600;
  color: hsla(176, 100%, 90%, 1.0);
  
  width: 90%;
  border: 0;
  padding: 10px 20px;

  background-color: hsla(176, 55%, 56%, 0.9);
  -webkit-box-shadow: 0 5px 0 0 hsla(176, 55%, 38%, 0.9);
  box-shadow: 0 5px 0 0 hsla(176, 55%, 38%, 0.9);

  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;

  outline: none;
}

button:hover {
  margin-top: 2px;
  -webkit-box-shadow: 0 3px 0 0 hsla(176, 55%, 38%, 0.9);
  box-shadow: 0 3px 0 0 hsla(176, 55%, 38%, 0.9);
}

button:active {
  margin-top: 4px;
  -webkit-box-shadow: 0 -2px 0 0 hsla(176, 55%, 38%, 0.9);
  box-shadow: 0 -2px 0 0 hsla(176, 55%, 38%, 0.9);
  background-color: hsla(176, 55%, 50%, 0.9);
}

button.alert {
  color: hsla(355, 100%, 95%, 0.9);
  background-color: hsla(355, 63%, 56%, 0.9);
  -webkit-box-shadow: 0 5px 0 0 hsla(355, 63%, 45%, 0.9);
  box-shadow: 0 5px 0 0 hsla(355, 63%, 45%, 0.9);
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
}

button:hover.alert {
  margin-top: 2px;
  -webkit-box-shadow: 0 3px 0 0 hsla(355, 63%, 45%, 0.9);
  box-shadow: 0 3px 0 0 hsla(355, 63%, 45%, 0.9);
}

button:active.alert {
  margin-top: 4px;
  -webkit-box-shadow: 0 -2px 0 0 hsla(355, 63%, 45%, 0.9);
  box-shadow: 0 -2px 0 0 hsla(355, 63%, 45%, 0.9);
  background-color: hsla(355, 63%, 56%, 0.9);
}

div.button-container {
  width: 150px;
  float: left;
}

div.container {
  width: 300px;
  margin: 0 auto;
}

a {
  font-size: 140%;
  font-weight: 600;
  color: hsla(176, 100%, 90%, 1.0);
  border: 0;
  padding: 15px 25px;
  background-color: hsla(176, 55%, 56%, 0.9);
  -webkit-box-shadow: 0 5px 0 0 hsla(176, 55%, 38%, 0.9);
  box-shadow: 0 5px 0 0 hsla(176, 55%, 38%, 0.9);
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  text-decoration: none;
  display: inline-block;
  width: 15%;
}

a:hover {
  margin-top: 2px;
  -webkit-box-shadow: 0 3px 0 0 hsla(176, 55%, 38%, 0.9);
  box-shadow: 0 3px 0 0 hsla(176, 55%, 38%, 0.9);
}

#win-message {
  margin-top: -20px;
  margin-bottom: 20px;
  font-size: 400%;
  width: 100%;
}

@media only screen and (min-width: 40.063em) {
  #game-board {
    width: 40vw;
    height: 40vw;
  }
  .cell {
    width:  33.3333333333333%;
    height: 33.3333333333333%;
  }
  .cell p {
    font-size: 10vw;
  }
}
