<header>
  <h1>
   <span class="teal">Tic</span>
   <span class="red">Tac</span>
   <span class="teal">Toe</span>
   <span class="red">v1</span>
  </h1>
</header>

<div id="game-board">
  <div id="cell-0" class="cell top left {{ game.board[0] }}" 
    data-ng-click="placePiece(0)">
    <span class="piece">
      {{ game.board[0] }}
    </span>
  </div>

  <div id="cell-1" class="cell top center {{ game.board[1] }}" 
    data-ng-click="placePiece(1)">
    <span class="piece">
      {{ game.board[1] }}
    </span>
  </div>

  <div id="cell-2" class="cell top right {{ game.board[2] }}" 
    data-ng-click="placePiece(2)">
    <span class="piece">
      {{ game.board[2] }}
    </span>
  </div>

  <div id="cell-3" class="cell middle left {{ game.board[3] }}" 
    data-ng-click="placePiece(3)">
    <span class="piece">
      {{ game.board[3] }}
    </span>
  </div>

  <div id="cell-4" class="cell middle center {{ game.board[4] }}" 
    data-ng-click="placePiece(4)">
    <span class="piece">
      {{ game.board[4] }}
    </span>
  </div>

  <div id="cell-5" class="cell middle right {{ game.board[5] }}" 
    data-ng-click="placePiece(5)">
    <span class="piece">
      {{ game.board[5] }}
    </span>
  </div>

  <div id="cell-6" class="cell bottom left {{ game.board[6] }}" 
    data-ng-click="placePiece(6)">
    <span class="piece">
      {{ game.board[6] }}
    </span>
  </div>

  <div id="cell-7" class="cell bottom center {{ game.board[7] }}" 
    data-ng-click="placePiece(7)">
    <span class="piece">
      {{ game.board[7] }}
    </span>
  </div>

  <div id="cell-8" class="cell bottom right {{ game.board[8] }}" 
    data-ng-click="placePiece(8)">
    <span class="piece">
      {{ game.board[8] }}
    </span>
  </div>
</div>
<div id="win-message" class="{{ getMark(-1) }}" data-ng-show="game.gameOver">
  {{game.gameOverMessage}}
</div>
<footer>
  <button data-ng-show="game.gameOver" data-ng-click="resetBoard()">
    Play again
  </button>
  <h1 class="turn {{game.turn}}" data-ng-hide="game.gameOver">
    {{game.turn | uppercase}}'s turn
  </h1>
</footer>
