<header>
  <h1>
   <span class="red">Tic</span>
   <span class="teal">Tac</span>
   <span class="red">Fire</span>
  </h1>
</header>

<div id="splash-game-board">
  <div id="cell-0" class="cell top left {{ X }} fade">
    <span class="piece">
      {{ X }}
    </span>
  </div>

  <div id="cell-1" class="cell top center {{ X }} fade">
    <span class="piece">
      {{ X }}
    </span>
  </div>

  <div id="cell-2" class="cell top right {{ O }}">
    <span class="piece">
      {{ O }}
    </span>
  </div>

  <div id="cell-3" class="cell middle left {{  }}">
    <span class="piece">
      {{  }}
    </span>
  </div>

  <div id="cell-4" class="cell middle center {{ O }}">
    <span class="piece">
      {{ O }}
    </span>
  </div>

  <div id="cell-5" class="cell middle right {{ X }} fade">
    <span class="piece">
      {{ X }}
    </span>
  </div>

  <div id="cell-6" class="cell bottom left {{ O }}">
    <span class="piece">
      {{ O }}
    </span>
  </div>

  <div id="cell-7" class="cell bottom center {{ X }} fade">
    <span class="piece">
      {{ X }}
    </span>
  </div>

  <div id="cell-8" class="cell bottom right {{ O }} fade">
    <span class="piece">
      {{ O }}
    </span>
  </div>
</div>
<footer>
  <a href="#start">
    Start
  </a>
</footer>
